*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:#f4f7fb;

}

header{

background:#0d6efd;

color:white;

text-align:center;

padding:30px;

}

nav{

margin-top:20px;

}

nav a{

color:white;

text-decoration:none;

margin:15px;

font-weight:bold;

}

section{

width:90%;
margin:40px auto;

}

h2{

margin-bottom:20px;

color:#0d6efd;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.card{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.todo-box{

display:flex;

gap:10px;

margin-bottom:20px;

}

.todo-box input{

flex:1;

padding:12px;

}

button{

padding:12px 20px;

background:#0d6efd;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}

ul{

list-style:none;

}

li{

background:white;

margin:10px 0;

padding:12px;

display:flex;

justify-content:space-between;

border-radius:6px;

box-shadow:0 2px 8px rgba(0,0,0,.15);

}

select{

padding:10px;

margin-right:10px;

margin-bottom:20px;

}

footer{

background:#222;

color:white;

text-align:center;

padding:20px;

margin-top:50px;

}

@media(max-width:768px){

nav a{

display:block;

margin:10px;

}

.todo-box{

flex-direction:column;

}

}
